In [1]:
# test

In [2]:
import pandas as pd

In [3]:
import scipy as sp
%precision 3

'%.3f'

In [4]:
fish_multi = pd.read_csv("tdata/3-2-1-fish_multi.csv")
print(fish_multi)

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [8]:
group = fish_multi.groupby("species")
print(group.mean())

         length
species
A             3
B             8

In [9]:
print(group.std(ddof = 1))

         length
species
A           1.0
B           2.0

In [10]:
shoes = pd.read_csv("tdata/3-2-2-shoes.csv")
print(shoes)

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [11]:
cross = pd.pivot_table(
    data = shoes,
    values = "sales",
    aggfunc = "sum",
    index = "store",
    columns = "color"
)
print(cross)

color  blue  red
store
osaka    13    9
tokyo    10   15